<div class="container mt-4">
    <div class="row mb-3">
        <div class="col text-center">
            <h3>Chat Application</h3>
        </div>
    </div>

    <!-- Chat Control Panel -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="senderEmail" class="form-label">Your Email</label>
            <input type="text" class="form-control" id="senderEmail" value="@User.Identity.Name" readonly />
        </div>
        <div class="col-md-6">
            <label for="receiverEmail" class="form-label">Start Chat with (Email)</label>
            <input type="text" class="form-control" id="receiverEmail" placeholder="Enter email to start a private chat" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            <button id="startChat" class="btn btn-success px-4" disabled>Start Chat</button>
        </div>
    </div>

    <!-- Dynamic Chat Windows -->
    <div id="chatWindows" class="mt-3"></div>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

