@model Property

<div class="card shadow border-0 mb-3">

    <div class="card-header bg-primary text-white m-lg-0 py-3">
        <h2 class="text-white py-2">Create Property</h2>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" class="form-control border-0 shadow"/>
                    <label asp-for="Address" class="ms-2"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Postcode" class="form-control border-0 shadow"/>
                    <label asp-for="Postcode" class="ms-2"></label>
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Owner" class="form-control border-0 shadow"/>
                    <label asp-for="Owner" class="ms-2"></label>
                    @* <span asp-validation-for="Owner" class="text-danger"></span> *@
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Properties" asp-action="Index" class="btn btn-secondary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
