
<div class="container">
    <h3>Google Embedded map</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d592499.7236229063!2d-7.310114442591549!3d54.54315632867498!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1732908792325!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">
    <h3>Google Embedded map with api key set to Belfast</h3>
    <iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyBa_LB8hZYB2FrEajQngnuaQ8dzLqggKe4&q=Belfast,United+Kingdom" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>





