@model PropertyDatatableVM

@{
    var isAgent = User.IsInRole(SD.Role_Agent);
}

<div class="card shadow border-0 mb-3">

    <div class="card-header bg-primary text-white m-lg-0 py-3">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Title -->
            <h2 class="text-white py-2">
                @(User.IsInRole(SD.Role_Agent) ? "Hey "+ @Model.ApplicationUser.Name + ", this is your property list" : "Hey " + @Model.ApplicationUser.Name +", here is all properties listed on RentARoom")
            </h2>
            
            <!-- Buttons -->
            <div class="d-flex">
                <!-- Property Create Button -->
                <a asp-area="Agent" asp-controller="Properties" asp-action="Upsert" class="btn btn-secondary">
                    <i class="bi bi-house-add-fill"></i>  Create New Property
                </a>
            </div>
       </div>
    </div>

    <div class="card-body p-4">
        @* https://datatables.net/ *@
        @* Admin Table *@
        <table id="tblAdmin" class="display table-striped table-bordered table-hover pt-2" style="width:100%">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Rent (£)</th>
                    <th>Beds</th>
                    <th>Floor Area (m<sup>2</sup>)</th>
                    <th>City</th>
                    <th>Property Type</th>
                    <th>Days Posted</th>
                    <th>Total Views</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        @* Agent Table *@
        <table id="tblAgent" class="display table-striped table-bordered table-hover pt-2" style="width:100%">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Rent (£)</th>
                    <th>Beds</th>
                    <th>Floor Area (m<sup>2</sup>)</th>
                    <th>City</th>
                    <th>Property Type</th>
                    <th>Days Posted</th>
                    <th>Total Views</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        var isAgent = @isAgent.ToString().ToLower(); // `true` for agents, `false` for admins
    </script>
    <script src="~/js/propertyDataTable.js"></script>
}